 **Assignment No 1- 
 Atharva Deshpande TC16**

Dirty Data Set

In [ ]:
import pandas as pd

Mounting to the drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Importing the dirty data set

In [ ]:
df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/dirtydata.csv')

Displaying the dataset

In [ ]:
df

Checking the missing values

In [ ]:
df.isnull()

Describing the dataset

In [ ]:
df.describe()

Shape of Dataset

In [ ]:
df.shape

Data types

In [ ]:
df.dtypes

Counting the total number of entries in each column

In [ ]:
df.count(axis = 'rows')

Dropping all entries from dataset. Create new dataset and append the data that doesn't contain any null entries.

In [ ]:
new_df = df.dropna()
new_df

Displaying the data in form of string

In [ ]:
print(new_df.to_string())

Number of missing values in each column

In [ ]:
new_df.isna().sum()

Changing the datatype of date colum

In [ ]:
new_df['Date'] = pd.to_datetime(new_df['Date']);
new_df.dtypes

Replacing the null values with the mean of column values`

In [ ]:
x =df['Calories'].mean()
print(x)
df['Calories'].fillna(x, inplace = True)
df

Change the datatype of Calories column

In [ ]:
df1 = new_df
df1['Calories'] = df1['Calories'].astype('int')
print(df1.dtypes)

Checking whether there are any duplicates present in the dataset

In [ ]:
df1.duplicated()

Dropping the duplicates

In [ ]:
df1.drop_duplicates()

In [ ]:
print(df1.duplicated().sum())

In [ ]:
df1.corr()

### **NBA DataSet**

In [ ]:
import pandas as pd
dframe = pd.read_csv('/content/drive/My Drive/Colab Notebooks/nba.csv')
dframe

In [ ]:
dframe.shape

In [ ]:
dframe.dtypes

In [ ]:
dframe.isna()

In [ ]:
dframe.describe()

In [ ]:
dframe.shape

In [ ]:
dframe.corr

In [ ]:
dframe.count(axis='rows')

In [ ]:
dframe.isna().sum()

In [ ]:
x = dframe['Salary'].mean()
print(x)
dframe['Salary'].fillna(x, inplace = True)
dframe

In [ ]:
new_df = dframe.dropna()
new_df

In [ ]:
new_df.isna().sum()

In [ ]:
dframe.duplicated().sum()

In [ ]:
new_df['Position'].unique()

Replacing categorical values with quantitative values

In [ ]:
new_df['Position'].replace(['PG', 'SF', 'SG', 'PF', 'C'], [0,1,2,3,4], inplace = True)
new_df

Making the group of people with related ages using the cut method and adding a new column as Age Group`

In [ ]:
category = pd.cut(dframe.Age, bins=[19, 25, 30, 37, 45], labels=['A','B','C','D'])
# new_df.insert(5,'Age_Group',category)
new_df

Done with preprocessing

Saving preprocessed file

In [ ]:
new_df.to_csv("Pre-Processed.csv")